body{
	background-color: black;
}

div{
	width: 1000px;
	background-color: grey;
	margin: 0px auto;
}

/*banner：链接*/
ul{
	margin: 0;
	padding: 0;
	display: inline;
}

li{
	display: inline;
	margin-right: 8px;

}
nav{
	text-align: right;
}
header{
	border: 2px red solid;
	width: 1000px;
	height: 100px;
	position: relative;
	
	margin:0px auto;
	background: url(images/banner.jpg);
}